NET "iCLK_50"  LOC = "C9"  | IOSTANDARD = LVCMOS33;
NET "btn_W"    LOC = "D18" | IOSTANDARD = LVTTL  | PULLDOWN;
NET "btn_E"    LOC = "H13" | IOSTANDARD = LVTTL  | PULLDOWN;
NET "btn_N"    LOC = "V4"  | IOSTANDARD = LVTTL  | PULLDOWN;
NET "btn_S"    LOC = "K17" | IOSTANDARD = LVTTL  | PULLDOWN;
NET "iSW[0]"   LOC = "L13" | IOSTANDARD = LVTTL  | PULLUP;
NET "iSW[1]"   LOC = "L14" | IOSTANDARD = LVTTL  | PULLUP;
NET "iSW[2]"   LOC = "H18" | IOSTANDARD = LVTTL  | PULLUP;
NET "iSW[3]"   LOC = "N17" | IOSTANDARD = LVTTL  | PULLUP;
NET "iROT_A"   LOC = "K18" | IOSTANDARD = LVTTL  | PULLUP;
NET "iROT_B"   LOC = "G18" | IOSTANDARD = LVTTL  | PULLUP;
NET "oVGA_R"   LOC = "H14" | IOSTANDARD = LVTTL  | DRIVE = 8    | SLEW = FAST;
NET "oVGA_G"   LOC = "H15" | IOSTANDARD = LVTTL  | DRIVE = 8    | SLEW = FAST;
NET "oVGA_B"   LOC = "G15" | IOSTANDARD = LVTTL  | DRIVE = 8    | SLEW = FAST;
NET "oHS"      LOC = "F15" | IOSTANDARD = LVTTL  | DRIVE = 8    | SLEW = FAST;
NET "oVS"      LOC = "F14" | IOSTANDARD = LVTTL  | DRIVE = 8    | SLEW = FAST;
NET "oLED<0>"  LOC = "F12" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8;
NET "oLED<1>"  LOC = "E12" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8;
NET "oLED<2>"  LOC = "E11" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8;
NET "oLED<3>"  LOC = "F11" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8;
NET "oLED<4>"  LOC = "C11" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8;
NET "oLED<5>"  LOC = "D11" | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8;
NET "oLED<6>"  LOC = "E9"  | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8;
NET "oLED<7>"  LOC = "F9"  | IOSTANDARD = LVTTL  | SLEW = SLOW  | DRIVE = 8;
